:root {
 --bgd: #000;
 --bgb: #ff0;
 --fgd: #afa;
 --mbg: #040;
 --mfg: #ccf;
 --hdr: #3f3;
 --mhf: royalblue;
 --mhb: #d00;
 --dsalert: #d00;
 
 --menu_hover: #6af;

 --panbgtxt: #333;
 --panfgtxt: #dff;
 --panpage: #ff0;

 --border: #333;

 --lnktd0: none;
 --lnktd1: underline;

 --panborder: #44c;
 --panhltfg: #6f6;
 --panhltbg: #333;

}

html {
 background-color: var(--border);
 height: 100%;
}

body {
 background-color: var(--bgd);
 color: var(--fgd);
 font-size: 22px;
 margin: 1px;
 height: 99%;
}

h1, h2, h3, h4, h5, h6 {
 font-variant: small-caps;
 color: var(--hdr);
}

th, td {
 text-align: left;
}

textarea {
 color: var(--panfgtxt); background-color: var(--panbgtxt);
}

a {
 color: var(--mfg);
 text-decoration: none;
}

a:link {
 color: var(--mfg);
 text-decoration: none;
}

a:visited {
 text-decoration: var(--lnktd0);
 border:1px solid var(--fgd);
}

a:hover {
 text-decoration: var(--lnktd1);
 background-color:var(--menu_hover);
}

a:active {
 text-decoration: var(--lnktd1);
 border:1px solid var(--fgd);
}

.linkdown span {
 display: inline-block;
 transform: rotate(90deg);
}

.pad0 {
 padding: 0px;
 height: 32px;
}

.padl {
 padding: 0px 10px 0px 10px;
 height: 32px;
}

div.inset {
 margin: 1em;
}

.mainfc {
 display: flex;
 flex-flow: column;
 height: 100%;
}

div.flexdown {
 display: flex;
 flex-flow: column;
}

/* ************************** */
/* display sink section       */
/* ************************** */

div.dscontent {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 height: 100%;
}

div.dscontent2 {
 display: flex;
 flex-direction: column;
}

div.dscol {
 display: flex;
 flex-direction: column;
 align-items: stretch;
}

div.dsline {
 display: inline;
}

div.dsmain {
 display: inline;
 height: 100%;
}

textarea.dsfill {
 width: 100%;
 height: 100%; 
 box-sizing: border-box;
}

.dsflex1 {
 flex:1;
}

.dsrow {
 display: flex;
 flex-direction: row;
}

.dsalert {
 color: var(--dsalert);
}

.dsheight100 {
 height: 100%;
}

.dswidth100 {
 width: 100%;
}

table {
 display: table;
 border-spacing: 8px 0;
}

tbody {
 width: 100%;
}

.dsnw {
 white-space: nowrap;
}

.dsw99 {
 width: 99%;
}

/* ************************** */
/* TODO: rename */
/* ************************** */

.output2 {
 width: 100%;
 display: block;
 padding: 5px;
 border-style: solid; 
 border-color: var(--panborder);
 border-width: thin;
 font-family: "monospace";
 font-size: smaller;
 background-color: var(--panhltbg);
 color: var(--panhltfg);
}

.nzr_flex1 {
 flex:1;
}

.nzr_row {
 display: flex;
 flex-direction: row;
}

div.content {
 flex: 1;
 height: 100%;
 border: 1px solid var(--border);
}

/* ************************** */
/* forms                      */
/* ************************** */

.tbl { display: table; }
.row { display: table-row; }
.cellh {display: table-cell; vertical-align: top; border: 1px solid var(--panborder); }

.nzr_flex1_1_100 {
 flex:1 1 100%;
}

.nzr_fillv {
 flex-grow:1;
 flex-direction: column;
 height:100%;
}

/* ************************** */

#pan00 {
 display: flex; width: 100%; height: 100vh; flex-direction: column;
}
#fwform {
 display: flex; flex-direction: column; height: 40%;
}
#pan02 {
 display: flex; background-color: var(--panbg); flex: 1;
}
#listStr {
 display: flex; min-width: 10px; width: 460px; border-width: 2px; border-style: solid; resize: horizontal; overflow: auto;
}
#template {
 flex: 1;
}
#result {
 flex: 1;
}
#clock {
 color: var(--panfgtxt);
 font-family: sans-serif;
}

table.w1000 {
 width: 1000px;
}

/* ************************** */
/* navbar inspired by https://css-tricks.com/solved-with-css-dropdown-menus/ */
/* ************************** */

.msep {
 border-left: 1px solid var(--bgd);
 width: 0px;
 height: 100%;
}

nav.menubar a {
 display: block;
 height: 100%;
 text-decoration: var(--lnktd0);
 font-variant: small-caps;
}

nav.menubar li {
 color: var(--mfg);
 background: var(--mbg);
 float: left;
 position: relative;
}

nav.menubar ul {
 list-style: none;
 margin: 0;
 padding-left: 0;
}

nav.menubar li:hover {
 background: var(--menu_hover);
 cursor: pointer;
}

nav.menubar ul li ul {
 background: var(--mbg);
 visibility: hidden;
 opacity: 0;
 min-width: 25rem;
 position: absolute;
 transition: all 0.5s ease;
 left: 0;
 display: none;
 padding: 1rem;
}

nav.menubar ul li:hover > ul,
ul li ul:hover {
 visibility: visible;
 opacity: 1;
 display: block;
}

nav.menubar ul li ul li {
 clear: both;
 width: 100%;
}


nav.menubar ul li ul li ul li{
 background: var(--mbg);
 margin-left: 5rem;
 margin-top: -50px;
}

