<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headFragment">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Panopset</title>
 <link rel="shortcut icon" href="../../../../../../html/images/favicon-32.png" />
 <link rel="stylesheet" href="../../../../../../html/css/a.css" type="text/css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="../../../../../../html/js/a.js"></script>
</head><body class="borderline" onload="initPage()">

<div class="mainfc">
<div th:replace="fragments/nav :: menuBarFragment">
<p>
fragments/nav :: menuBarFragment
</p>
</div>

<div class="inset">
<div class="dsline">

<h1>Blackjack</h1>
 <p>
  Not a web application, available on the <a href="/desk">desktop</a> of your choice,
  or as a 2 dollar <a href="https://play.google.com/store/apps/details?id=com.panopset.droid.games.blackjack">droid</a> app.
 </p>
<p>
As seen on <a href="https://gameskeys.net/hidden-gems-top-card-games-to-play/">
gameskeys.net</a>!
</p>
<p>
I wrote Panopset Blackjack because none of the simulators
I could find had a fast deal feature.  When practicing the
basic strategy, I don't care about the outcome of the hand,
just whether or not I made the correct decision.
</p><p>
It is entirely your responsibility to independently 
<a href="https://github.com/panopset/src/tree/main/shoring/blackjackEngine">verify</a>
its accuracy.
</p><h2>
The only claim made about this game is that it will only lead you to ruin, whether or not it has any bugs.
</h2><p>
That said, a link to 
<a href="http://gamblersanonymous.com">Gamblers Anonymous</a>
should serve to provide a far better disclaimer, than the 
poor words of an old gambler.
</p>

 <hr/>


</div>

</div>
</div>
<div th:replace="fragments/footer :: google_stats" th:remove="tag"></div>

</body></html>
