<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headFragment">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Panopset</title>
 <link rel="shortcut icon" href="../../../../../../html/images/favicon-32.png" />
 <link rel="stylesheet" href="../../../../../../html/css/a.css" type="text/css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="../../../../../../html/js/a.js"></script>
</head><body class="borderline" onload="initPage()">

<div class="mainfc">
<div th:replace="fragments/nav :: menuBarFragment">
<p>
fragments/nav :: menuBarFragment
</p>
</div>

<div class="content2">

<div class="inset">
<h1>Build</h1>
<p>
You may build a platform installer from the <a href="https://github.com/panopset/src">source code</a>.
Run
</p>
<ul><li> 
<b>./build.sh</b> on Linux,
</li><li> 
<b>build.cmd</b> on Windows systems, or
</li><li> 
<b>./buildmac.sh</b> on Macintosh systems,
</li></ul>
<p>
That will put an installer in the src project target directory.
</p>
<p>
It will also copy <b>panopset.jar</b> into your home directory.
This is an all-in-one jar, that you may use with
your JRE, should you not wish to use an installer.
</p>
<div th:replace="fragments/body :: terms" th:remove="tag"></div>
</div>

</div>

<div th:replace="fragments/footer :: google_stats" th:remove="tag"></div>

</body></html>
